.pseudo {
    font-weight: bold;
    margin-top: 1em;
}
.message {
    color: rgb(114, 114, 114);
}

.priorite1 {
    background-color: rgba(255, 103, 0, 0.68) !important;
}

.priorite2 {
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.priorite3 {
    background-color: rgba(59, 179, 11, 0.637) !important;
}

.connect {
    color: rgba(255, 0, 0, 0.5);
    font-size: 0.90em;
}